<div class="container" data-controller='album-add'>
  <div class="row mt-5">
    <div class="col">
      <h1>Add Album</h1>
      <%= form_tag search_albums_path, remote: true, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for artist or album"
          %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col" id='album-suggestions'>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= simple_form_for @album, html: { data: { album_add_target: 'form' }} do |f| %>
        <fieldset class="form-group check_boxes optional snippet_tags">
          <input type="hidden" name="tags[tag_ids][]" value="" />
          <% current_user.tag_list.each do |tag| %>
            <div class="tag-item">
              <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="tags[tag_ids][]" id="snippet_tag_ids_<%= tag %>">
              <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_<%= tag %>"><%= tag %></label>
            </div>
          <% end %>
        </fieldset>
        <%= f.simple_fields_for :artist do |art_form| %>
        <% end %>
        <%= f.submit 'Add Album', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
